img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 15%;
}

.summary{
    text-align: justify;
}

#contact-me{
    text-align: center;
}

.my-name{
    text-align: center;
}